<div class="row">
      <%= simple_form_for @forum do |f| %>
      <% if @forum.errors.any? %>
        <% flash.now[:error] = @forum.errors.full_messages.join(', and ') %>
      <% end %>
      <div class="formed">
      <div class="large-6 columns">
      	<h2 class="optima">
      		Category
      	</h2>
          <%= f.collection_select :category_id, Category.all, :id, :title %>
          <h2 class="optima">
      		Title
      	</h2>
        <%= f.text_field :title, :size => 75 %>
      
        <h2 class="optima">
      		Description
      	</h2>
        <%= f.text_area :description , :as => :text, :cols => "30", :rows => "10" %>
  	  </div>
       <div class="large-12 columns">
        <%= f.button :submit %> or <%= link_to "cancel", @forum.nil? ? forum_path(@forum) : forums_path %>
       </div>
		</div>
    <% end %>
</div>
