<div class="row">
	<% if current_user.role == "admin"%>
	<div class="right controls">
	      <%= link_to "Edit Forum", edit_forum_path(@forum) %><br/><br/>
	      <%= link_to "Delete Forum", forum_path(@forum), :confirm => "Are you sure you want to delete this forum?", :method => :delete %>
	    </div>
	  <% end %>
	<div class="module">
	  <div class="module_header">
	    <h2 class="optima"><%= @forum.title.upcase %><small> | forum</small></h2>
	    <%= link_to new_forum_topic_path(@forum) do %>
	 	<div class="buttoned">
	 		New Topic
	 	</div>
	 	<% end %>
	    
	    
	  </div>
	  <br />
	  <div class= "large-12 columns">
	    <table>
	      <tr class="smaller">
	        <th width="300">Topic</th>
	        <th width="250">Replies</th>
	        <th width="250">Views</th>
	        <th width="300">Last Post</th>
	      </tr>
	      <% @forum.topics.each do |topic| %>
	      
	      <tr>
	        <td class="icon"><strong><%= link_to topic.title, topic_path(topic) %></strong><br />created by <%= topic.user.profile_name %></td>
	        <td class="description">
	          <span class="smaller"><%= topic.posts.size - 1 %></span>
	        </td>
	        <td class="counts smaller"><%= topic.hits %></td>
	        <td class="counts smaller">
	        
	          <%= time_ago_in_words(topic.posts.last.created_at) %><br />
	          by <%= topic.posts.last.user.profile_name %>
	        </td>
	      </tr>
	     
	      <% end %>
	    </table>
	    <!-- add permissions to see these controls -->
	    
	    <!-- here   -->
	  </div>
	</div>
</div>
 
