<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>
<div class="row">
  	<div class="large-6 columns">
  	<h1 class="optima">
  		Title
  	</h1>
    <%= f.input :title, :label => false  %>
    </div>
    <div class="large-6 columns">
    <h1 class="optima">
  		Taglist
  		<small>
  			seperate by commas
  		</small>
  	</h1>
    <%= f.input :tag_list, :label => false  %>
    </div>
    <h1 class="optima">
  		Blog Post
  		<small>
  			Recommended copy and paste from Word or another word processor
  		</small>
  	</h1>
    <%= f.input :body, :label => false  %>
  
    <%= f.button :submit %>
  
<% end %>
</div>
