<div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 		<% @blogs.each do |blog| %>
      <article>
 
        <h3><%= blog.title %></h3>
        <h6>Written by <a href="#">John Smith</a> <%= (blog.created_at).strftime("%b %-d %Y") %></h6>
 
        <div class="row">
          <div class="large-12 columns">
            <p><%= dat_markdown(blog.body.truncate(750)) %></p>
      </article>
      <!-- try to make a helper method so you dont have to use raw -->
      		Tags: <%= raw blog.tag_list.map { |t|  link_to t, tag_path(t)}.join(', ')%>
      		<span class='right'>
 			<%= link_to 'Show', blog %>
    		<%= link_to 'Edit', edit_blog_path(blog) %>
    		<%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      		</span>
      <hr />
 
      <article>
 		<% end %>
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
 
      <h5>Tags</h5>
      <div id = "tag_cloud">
        <% tag_cloud Blog.tag_counts, %[s m l] do | tag, css_class| %>
        	<p><%= link_to tag.name, tag_path(tag.name), class: css_class %></p>
        <% end %>
      </div>
 
      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More &rarr;</a>
      </div>
 
    </aside>
 
    <!-- End Sidebar -->
  </div>