<div class="row">
	<p id="notice"><%= notice %></p>
	<div class="large-8 large-offset-2 columns">
	 <h3><%= @blog.title %></h3>
	<p>
	  <%= dat_markdown(@blog.body) %>
	  <%= @blog.user.profile_name %>
	</p>
	<% if current_user == @blog.user%>
		<%= link_to 'Edit', edit_blog_path(@blog) %> |
	<% end %>
	<div>
	<hr />
	<h2> Comments</h2>
	<%= render "comments/comments"%>
	<%= render "comments/form" %>
		
</div>
