<% title @blog.title%>
<div class="row">
	<p id="notice"><%= notice %></p>
	<div class="large-10 large-offset-1 columns">
		 <h3 class="optima">
		 	<%= @blog.title.capitalize %>
		 </h3>
		<div class="blogged">
		  <%= dat_markdown(@blog.body) %>
		</div>
		<span class='right'><%= @blog.user.profile_name.downcase %></span>
		
		<% if current_user == @blog.user%>
			<%= link_to 'Edit', edit_blog_path(@blog) %> |
		<% end %>
	<div>
	<hr />
	<article>
	<h2 class='optima'> 
		Comments
	</h2>
	<%= render "comments/comments"%>
	<%= render "comments/form" %>
	</article>
</div>
