<% title "Register"%>
<%= page_header do %>
  <h1 class="isactive">Sign Up For 4to1Dog.Com</h1>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <h2>Your Information</h2>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-vertical' }) do |f| %>
      <%= devise_error_messages! %>
      <h1 class="optima">
  		First Name
  		</h1>
      <%= f.input :first_name, :label => false %>
      <h1 class="optima">
  		Last Name
  	</h1>
      <%= f.input :last_name, :label => false %>
      <h1 class="optima">
  		Profile Name
  	</h1>
      <%= f.input :profile_name, :label => false %>
      <h1 class="optima">
  		Email
  	</h1>
      <%= f.input :email, :label => false %>
      <h1 class="optima">
  		Password
  	</h1>
      <%= f.input :password, :label => false %>
      <h1 class="optima">
  		Confirm
  	</h1>
      <%= f.input :password_confirmation, :label => false %>
      
      <div class="form-actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %><br />
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
  
</div>