<div class="row">
  <h1 class="optima">All Statuses</h1>

	<%= link_to new_status_path do %>
		 	<div class="buttoned">
		 		New Status
		 	</div>
	 <% end %>

<% @statuses.each do |status| %>
  <% if can_display_status?(status) %>
  <article>
    <p class="categoryTitle"><%= status.content.upcase %><small>  <%= status.user.profile_name.downcase%></small></p>
        
        <%= status_document_link(status) %>
        
            <p></p><%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
            <% if signed_in? && current_user == status.user %>
            <span class="admin">
            <% if current_user == status.user%>
              | <%= link_to "Edit", edit_status_path(status) %> | 
              <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
            <% end %>
            </span>
            <% end %>
      </article> 
  <% end %>
  
<% end %>
</div>
