<div class="row">
<%= simple_form_for [@forum, @topic] do |f| %>
<% if @topic.errors.any? %>
  <% flash.now[:error] = @topic.errors.full_messages.join(', and ') %>
<% end %>
<div class="formed">
      <div class="large-6 columns">
      	<h2 class="optima">
      		Title
      	</h2>
        <%= f.text_field :title, :size => 75 %>
        <h2 class="optima">
      		Subject
      	</h2>
      <% unless @topic.id %>
       <%= f.text_area :body, :cols => 60, :rows => 15 %>
        
      	</div>
    </div>
    <% end %>
    
      <div class="large-12 columns">
        <%= f.button :submit %> or <%= link_to "cancel", @topic.nil? ?  @topic : @forum %>
        </div>
	</div>
<% end %>
</div>
