<div class="row">	
	<br />
	<div class="large-12 columns">	
	<%= link_to forum_path(@topic.forum) do %>
	 	<div class="buttoned2">
	 		<%=  @topic.forum.title.upcase.to_s + " TOPIC LIST" %>
	 	</div>
	 	<% end %>
	</div><br />
	
	  
	    <h1 class="optima"><%= @topic.title %></h1>
	    
	    
	    <% @topic.posts.each do |post| %>
	      <div class="paneled large-8 large-offset-1 columns">
	      <% if can? :read, @topic%>
	      <span class="categoryDescription"><%= dat_markdown(post.body) %>
	      	<small><%= time_ago_in_words(post.created_at) + " ago" %></small>
	      </span><br />
	      <% end %>
	      
	            
	            <span class="right controls">
	            <%= post.user.profile_name.upcase %> -
	            Member since <%= time_ago_in_words(post.user.created_at.to_s(:joined)) + " ago " %>
	            <% if can? :create, @topic %>
	            <%= link_to "Quote", new_topic_post_path(@topic, :quote => post) %>
	            <% end %>
	            <% if can? :update, @topic %>
	            <%= link_to "Edit", edit_post_path(post) %>
	            <% end %>
	            <% if can? :delete, @topic %>
	            <%= link_to "Delete", post, :confirm => "Are you sure?", :method => :delete %>
	            <% end %>
	            </span>
	            
	        </div> <br /> 
	      <% end %>
	      
	    <div class="large-3 push-9 columns" style="position: fixed;">
	      	<%= link_to new_topic_post_path(@topic) do %>
			 	<div class="buttoned">
			 		Reply
			 	</div>
			 <% end %>
		</div>
	      	
	  
	      	
	      
	      	
	      
	    
	  

</div>
