<%= simple_form_for(@video) do |f| %>
  <%= f.error_notification %>
<div class="row">
  	
  	<h1 class="optima">
  		Title
  	</h1>
    <%= f.input :title, :label => false %>
    <h1 class="optima">
  		Video HTML
  	</h1>
    <%= f.input :code, :label => false%>
    <h1 class="optima">
  		Series
  	</h1>
    <%= f.input :series, :label => false  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
