<h1>Listing videos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Code</th>
    <th>Series</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.title %></td>
    <td><%= video.code %></td>
    <td><%= video.series %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div id = "tag_cloud">
        <% tag_cloud Video.tag_counts, %[s m l] do | tag, css_class| %>
        	<p><%= link_to tag.name, tag_path(tag.name), class: css_class %></p>
        <% end %>
      </div>
<br />

<%= link_to 'New Video', new_video_path %>


