<% title "Videos"%>
<% @var = "Videos"%>
<div class="row">
<h1 class="optima"> Training Videos</h1>

<% if current_user.role == "admin"%>
	<%= link_to new_video_path do %>
		 	<div class="buttoned">
		 		New Video
		 	</div>
	 		<% end %>
<% end %>
<p class="categoryTitle">Series<small>Title</small></p>
<% @videos.each do |video| %>
  	<%= link_to video  do%>
  	<article>
  		<p class="circle large-3 columns">
				<span class="numbars"><%= (video.created_at).strftime("%-d") %> </span><br />
				<%= (video.created_at).strftime("%b").downcase %> <br />
			</p>
    <p class="categoryTitle"><%= video.series %><small><%= video.title %></small></p>
    
    
    <p>Comments: <%= video.comments.count %></p> 
  	</article>
  	<% end %>
<% end %>


</div>


