<p id="notice"><%= notice %></p>



<div class="row">
	<p class="categoryTitle"><%= @video.series %><small><%= @video.title %></small></p>
  <div class="large-10 large-offset-1 columns">
  	<%= @video.code.html_safe %>
  </div>



<h2> Comments</h2>
	<%= render "comments/comments"%>
	<%= render "comments/form" %>


</div>