<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @live.title %>
</p>

<p>
  <b>Code:</b>
  <%= @live.code.html_safe %>
</p>

<p>
  <b>Description:</b>
  <%= @live.description %>
</p>

<%= link_to 'Edit', edit_life_path(@life) %> |
<%= link_to 'Back', lives_path %>
