<% title "Forums" %>
<% @var = "Forum"%>
<br />
	<div class="row">
		
		<div class="large-12 columns" id="forumid">
			<hr /><br />
			<% if current_user.role == "admin"%>
			<%= link_to new_forum_path do %>
		 	<div class="buttoned">
		 		New Forum
		 	</div>
	 		<% end %>
	 		<% end%>
	 		<br />
			<% @categories.each do |category| %>
	      		<p class="categoryTitle"><%= category.title.upcase + " | Category"%>
	      		<%if category.title == "Private"%>
	      			<span class="categoryDescription">Students+ Only</span> 
	      		</p>
	      		<%end%>
	      		<% if can? :read, Video%>
		      	<% if category.forums.size > 0 %>
			     
			     <div class="large-12 columns">
			     	<% category.forums.each do |forum| %>
				<div class="large-6 columns fortit" id="<%= "ID" + category.id.to_s  %>">
					<span class="formtitle"><%= forum.title.upcase %></span><hr />
					<%= link_to new_forum_topic_path(forum) do %>
		          		<div class="buttoned">
					 		New Topic
					 	</div>
		          	<% end %>
					<% forum.topics.limit(3).each do |topic|%>
		          	<% if forum.topics.size > 0 %>
			          		<p>
			          			<%= link_to topic.title, topic_path( topic) %><small> hits: <%= topic.hits%></small><br/>
			          			<%= time_ago_in_words(topic.created_at) + " ago " %>
			          		</p>
			          		
			          		
		          	<% end %>
		          	<% end %>
		          	<% if forum.topics.size > 3%>
		          		<p class="litt"><%=link_to "Complete list of topics", forum_path(forum)%></p>
					<% end %>
				</div>
				<% end %>
				</div>
				
				<% end %>
				<% end %>
				<% end %>
		</div>
	
		
	</div>
	<!--
	<div class="large-8 large-offset-1 columns">
		<% @categories.each do |category|%>
			<%if category.title == "Private"%>
				<% category.forums.each do |forum| %>
				<p class="categoryDescription"><%= forum.title %></p>
				<% end %>
			<% end %>
		<%end%>
	</div> 
		-->

	
	
