<div class="row">
	<%= page_header do %>
	  <h1>Activity Feed</h1>
	<% end %>
	<div class="large-12 columns">
	<% @activities.each do |activity| %>
	  <div class="media">
	    
	    <div class="media-body">
	      <h4 class="media-heading"><%= activity.user.full_name %></h4>
	      <small><%= activity.created_at %></small>
	      <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", 
	            locals: { activity: activity } %>
	      <br />
	    </div>
	  </div>
	  <hr />
	<% end %>
	
	<%= will_paginate @activities %>
	</div>
</div>
