<!DOCTYPE html>
<html>
<head>
  <title>4to1Dog - <%= yield(:title) || "The Place to Buy Stuff" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
	  <%= div_for announcement do %>
	    <%= announcement.message %>
	    <%= link_to "hide announcement", hide_announcement_path(announcement), remote: true %>
	  <% end %>
	<% end %>
	
		<div class="large-12  offset2 columns">	    
			<ul class="navig">	
				<% case @var%>
				<% when "Forum"%>
					<li class="isactive">Forums</li>&nspb;
					<li class="notactive"><%=link_to "Articles", articles_path%></li>&nspb;
					<li class="notactive"><%=link_to "Blogs", blogs_path%></li>&nspb;
					<li class="notactive"><%=link_to "Dashboard", dashboard_index_path%></li>&nspb;
					<li class="notactive"><%=link_to "Videos", videos_path%></li>&nspb;
				<% when "Blog"%>
					<li class="isactive">Blogs</li>&nspb;
					<li class="notactive"><%=link_to "Articles", articles_path%></li>&nspb;
					<li class="notactive"><%=link_to "Dashboard", dashboard_index_path%></li>&nspb;
					<li class="notactive"><%= link_to "Forums", forums_root_path%></li>&nspb;
					<li class="notactive"><%=link_to "Videos", videos_path%></li>&nspb;
				<% when "Articles"%>
					<li class="isactive">Articles</li>&nspb;
					<li class="notactive"><%=link_to "Blogs", blogs_path%></li>&nspb;
					<li class="notactive"><%=link_to "Dashboard", dashboard_index_path%></li>&nspb;
					<li class="notactive"><%= link_to "Forums", forums_root_path%></li>&nspb;
					<li class="notactive"><%=link_to "Videos", videos_path%></li>&nspb;
				<% when "Videos"%>
					<li class="isactive">Videos</li>&nspb;
					<li class="notactive"><%=link_to "Articles", articles_path%></li>&nspb;
					<li class="notactive"><%=link_to "Blogs", blogs_path%></li>&nspb;
					<li class="notactive"><%=link_to "Dashboard", dashboard_index_path%></li>&nspb;
					<li class="notactive"><%= link_to "Forums", forums_root_path%></li>&nspb;
				<% else%>
					<li class="notactive"><%=link_to "Articles", articles_path%></li>&nspb;
					<li class="notactive"><%=link_to "Blogs", blogs_path%></li>&nspb;
					<li class="notactive"><%=link_to "Dashboard", dashboard_index_path%></li>&nspb;
					<li class="notactive"><%= link_to "Forums", forums_root_path%></li>&nspb;
					<li class="notactive"><%=link_to "Videos", videos_path%></li>&nspb;
				<% end%>
			</ul>
		</div>
	
		<%= yield %>
	   
	 <%= javascript_include_tag "application" %>
</body>
</html>
